.catalog {
  display: inline-flex !important;
  justify-content: center !important;
  flex-wrap: nowrap;
  margin: 20px 110px;
  max-width: 100%;
  margin-left: 1.2%;
  margin-right: 1%;

  .ant-card-cover {
    img {
      height: 325px !important;
    }
  }

  .ant-card-meta-title {
    text-align: center !important;
  }
}
